{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SystemCarpet</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img
              src="{% static 'images/autocarpet_logo.png' %}"
              alt="SystemCarpet Logo"
              class="logo"
            />
          </a>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar"
              aria-label="Search"
              style="width: 400px"
            />
            <button class="btn btn-outline-primary" type="submit">
              Buscar
            </button>
          </form>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/" style="color: #008fff">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/productos" style="color: #008fff"
                  >Productos</a
                >
              </li>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/" style="color: #008fff">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/productos" style="color: #008fff"
                    >Productos</a
                  >
                </li>
                <li class="nav-item">
                  <button class="btn btn-primary">Ventas</button>
                </li>
                {% if user.is_authenticated %} {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="/admin">Panel de Administrador</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Cerrar Sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}"
                    >Iniciar Sesión</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}"
                    >Registrarse</a
                  >
                </li>
                {% endif %}
              </ul>
              <li class="nav-item">
                <button class="btn btn-primary">Ventas</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>

    <footer class="p-4 bg-light">
      <div>
        <div class="row">
          <div class="col-lg-4">
            <img
              src="{% static 'images/autocarpet_logo.png' %}"
              class="mb-3"
              alt="logo"
            />
            <p>
              Autocarpet es una empesa dedicada a la fabricacion y distribucion
              de accesorios automotricez especialmente tapetes sobre medidas
              para carros - kit de carretera - techos corredizos.
            </p>
            <div class="d-flex">
              <a href target="_blank" rel="noreferrer">
                <span class="sr-only"> Facebook </span>
                <img
                  src="{% static 'svg/facebook.svg' %}"
                  alt=""
                  style="width: 24px; height: 24px"
                />
              </a>
              <a href target="_blank" rel="noreferrer">
                <span class="sr-only"> Instagram </span>
                <img
                  src="{% static 'svg/instagram.svg' %}"
                  alt=""
                  style="width: 24px; height: 24px"
                />
              </a>
              <a href target="_blank" rel="noreferrer">
                <span class="sr-only"> YouTube </span>
                <img
                  src="{% static 'svg/youtube.svg' %}"
                  alt=""
                  style="width: 24px; height: 24px"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-4">
                <p>Productos</p>
                <nav class="nav flex-column">
                  <a class="nav-link text-uppercase" href>
                    Tapetes perzonalizados</a
                  >
                  <a class="nav-link text-uppercase" href>
                    Kits de carretera
                  </a>
                </nav>
              </div>
              <div class="col-lg-4">
                <p>Servicios</p>
                <nav class="nav flex-column">
                  <a class="nav-link text-uppercase" href>
                    PELÍCULAS DE SEGURIDAD Y POLARIZADO
                  </a>
                  <a class="nav-link text-uppercase" href>
                    TAPIZADO DE TIMÓN
                  </a>
                  <a class="nav-link text-uppercase" href> VIDEO </a>
                </nav>
              </div>
              <div class="col-lg-4">
                <p>Nosotros</p>
                <nav class="nav flex-column">
                  <a href="" class="nav-link text-uppercase">
                    <p>Calle 79 No 69 P-55 Bogotá Colombia.</p>
                  </a>
                  <p>
                    3504752252 – 3162240257 – 3204429508–3219265889 – 3123693622
                    – 3184433134 – 3226334993 – 3160185066 – 3228087417
                  </p>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <p>© 2023 Autocarpet, Todos los derechos reservados</p>
      </div>
    </footer>
  </body>
</html>
