{% extends 'layouts/base.html' %} {% block content %}
<div class="product-detail">
  <img
    class="product-detail__image"
    src="{{ producto.link_imagen }}"
    alt="{{ producto.articulo.nombre }}"
  />
  <div class="product-detail__info">
    <h2 class="product-detail__title">{{ producto.articulo.nombre }}</h2>
    <p class="product-detail__description">
      {{ producto.articulo.descripcion }}
    </p>
    <p class="product-detail__model">{{ producto.modelo.nombre }}</p>
    <p class="product-detail__category">{{ producto.categoria.nombre }}</p>
    <p class="product-detail__price">{{ producto.precio }}</p>
    <p class="product-detail__stock">{{ producto.articulo.estado }}</p>
  </div>
</div>
{% endblock %}
